body {
	background-color: black;
}

.conteiner {
	width: 90%;
	min-width: 300px;
	/* max-width: 1200px; */
	height: 95vh;
	margin: 2% auto 0;
	text-align: center;
	background-color: black;
}

@media screen and (max-width: 767px) {
	.conteiner {
		margin: 5% auto 0;
	}
}

.slide-switcher {
	display: none;
}

.sliders-wrapper {
	width: 100%;
	height: 80%;
	/* background-color: blue; */
	/* transition: transform 1s ease;
	display: flex; */
	/* overflow: hidden; */
	border-radius: 20px;
	overflow: hidden;

}

.sliders {
	width: 100%;
	height: 100%;
	transition: transform 1s ease;
	display: flex;
}

.slider {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.44);
	/* background-image: url('./1.jpg'); */
	flex: 0 0 auto;
	/* border-radius: inherit; */
}

img {
	height: 100%;
}

/* .slider2 {
	width: 100%;
	background-color: red;
	flex: 0 0 auto;
	border-radius: inherit;
}

.slider3 {
	width: 100%;
	background-color: green;
	flex: 0 0 auto;
	border-radius: inherit;
}

.slider4 {
	width: 100%;
	background-color: yellow;
	flex: 0 0 auto;
	border-radius: inherit;
} */

.under_slider {
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
}

@media screen and (max-width: 767px) {
	.under_slider {
		padding-top: 5%;
		flex-direction: column-reverse;
	}
}

.text-slider-wrapper {
	width: 50%;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.text-slider-wrapper {
		width: 100%;
	}
}


.text-slider {
	display: flex;
	transition: transform 1s ease;
}

.text {
	color: white;
	font-size: 2rem;
	flex: 0 0 auto;
	width: 100%;
	text-align: start;
	padding-right: 1%;
}

@media screen and (max-width: 767px) {
	.text {
		text-align: center;
	}
}


.intuts {
	display: flex;
}

@media screen and (max-width: 767px) {
	.intuts {
		justify-content: center;
	}
}

.intut-wrapper {
	display: flex;
	flex-direction: column;
}

.switcher_label {
	width: 30px;
	height: 30px;
	/* background-color: aliceblue; */
	display: flex;
	justify-content: center;
}

.fake-input {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: 1px solid white;
	background-color: blue;
	;
}

.switcher_label:hover,
.slide-switcher:hover {
	cursor: pointer;
}

#slide-1:checked~.sliders-wrapper .sliders,
#slide-1:checked~.under_slider .text-slider-wrapper .text-slider {
	transform: translateX(-100%);
}

#slide-2:checked~.sliders-wrapper .sliders,
#slide-2:checked~.under_slider .text-slider-wrapper .text-slider {
	transform: translateX(-200%);
}

#slide-3:checked~.sliders-wrapper .sliders,
#slide-3:checked~.under_slider .text-slider-wrapper .text-slider {
	transform: translateX(-300%);
}

#slide-0:checked~.under_slider .intuts .intut-wrapper .switcher_label #fake-input-0 {
	background-color: unset;
}

#slide-1:checked~.under_slider .intuts .intut-wrapper .switcher_label #fake-input-1 {
	background-color: unset;
}

#slide-2:checked~.under_slider .intuts .intut-wrapper .switcher_label #fake-input-2 {
	background-color: unset;
}

#slide-3:checked~.under_slider .intuts .intut-wrapper .switcher_label #fake-input-3 {
	background-color: unset;
}